<section class="box-preview">
  <section class="preview-section">
    <div class="preview-box">
      <section class="preview-box__container js__reset">
        <i class="fa-solid fa-trash-can preview-box__container--img"></i>
        <button class="preview-box__container--button">reset</button>
      </section>

      <section class="preview-box__containerphoto">
        <section class="containercard palette3 js-palette">
          <article class="containercard__box">
            <div class="rectangle outline"></div>
            <div class="container-tex">
              <h2 class="container-tex__title js__card__name name">
                Nombre apellido
              </h2>
              <p class="container-tex__paragraph js__card__job">
                Front-end developer
              </p>
            </div>
          </article>
          <div class="preview-box__containerphoto--img js__profile-image"></div>
          <ul class="preview-list">
            <li class="preview-list__item icon">
              <a class="preview-list__item--link" href=""
                ><i class="fa-solid fa-mobile-screen-button link"></i
              ></a>
            </li>
            <li class="preview-list__item icon">
              <a class="preview-list__item--link" href=""
                ><i class="fa-regular fa-envelope link"></i
              ></a>
            </li>
            <li class="preview-list__item icon">
              <a class="preview-list__item--link" href=""
                ><i class="fa-brands fa-linkedin-in link"></i
              ></a>
            </li>
            <li class="preview-list__item icon">
              <a class="preview-list__item--link" href=""
                ><i class="fa-brands fa-github-alt link"></i
              ></a>
            </li>
          </ul>
        </section>
      </section>
    </div>
  </section>

  <section class="section-form">
    <form action="" class="js_form">
      <include src="./desings.html"></include>
      <include src="./fill_in.html"></include>
      <include src="./share.html"></include>
    </form>
  </section>
</section>
