<fieldset class="fieldset collapsed js-form-fieldset fieldset-colours">
  <section class="design js-form-title">
    <div class="design__box">
      <!--class="window-title"-->
      <a href="http://">
        <i class="fa-solid fa-object-ungroup window design__box--window"></i
      ></a>

      <legend class="design__box--title">Diseña</legend>
      <!--class="design-title"-->
    </div>

    <i class="fieldset__arrow fa-solid fa-chevron-down design__box--arrow"></i>
  </section>

  <section class="fieldset__container colour-section">
    <h3 class="colours-title">colores</h3>

    <section class="palette-section">
      <div class="form-inputs input__label">
        <input
          name="input"
          type="radio"
          class="inputs js-inputColor1"
          checked
        />
        <label for="colors"></label>
        <input name="input" type="radio" class="inputs js-inputColor2" />
        <label for="colors"></label>

        <input name="input" type="radio" class="inputs js-inputColor3" />
        <label for="colors"></label>
      </div>

      <section class="colours-list">
        <ul class="list-1">
          <li class="colour-1a js-color-1a"></li>
          <li class="colour-1b js-color-1b"></li>
          <li class="colour-1c js-color-1c"></li>
        </ul>

        <ul class="list-3">
          <li class="colour-2a js-color-2a"></li>
          <li class="colour-2b js-color-2b"></li>
          <li class="colour-2c js-color-2c"></li>
        </ul>

        <ul class="list-3">
          <li class="colour-3a js-color-3a"></li>
          <li class="colour-3b js-color-3b"></li>
          <li class="colour-3c js-color-3c"></li>
        </ul>
      </section>
    </section>
  </section>
</fieldset>
