<main class="main">
  <article>
    <img class="main__img" src="./assets/images/boolean logo.png" alt="" />
  </article>
  <article class="hero">
    <h1 class="hero__title">Crea tu tarjeta de visita</h1>
    <p class="hero__text">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </article>
  <article>
    <nav class="nav">
      <ul class="nav__container">
        <li class="nav__list">
          <a class="nav__link" href="./card.html"
            ><i class="fa-solid fa-object-ungroup"></i
          ></a>
          <h2 class="nav__title">Diseña</h2>
        </li>
        <li class="nav__list">
          <a class="nav__link" href="./card.html"
            ><i class="fa-solid fa-keyboard"></i
          ></a>
          <h2 class="nav__title">Rellena</h2>
        </li>
        <li class="nav__list">
          <a class="nav__link" href="./card.html"
            ><i class="list-desing__icon fas fa-share-alt"></i>
          </a>
          <h2 class="nav__title">Comparte</h2>
        </li>
      </ul>
    </nav>
  </article>
  <a class="main__button" href="./card.html"> Comenzar</a>
</main>
